header h1 {
    float: left;
}
#tex-input {
    height: calc(100% - 5rem);
    width: 100%;
    font-size: 1.9rem;
    font-height: 2.5rem;
    font-weight: normal;
}
#tex-preview {
    margin:5px;
}
